@model IEnumerable<Services>

@{
    ViewData["Title"] = "Index";
}

<h1>Services</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ServiceName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ServicePrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ServiceDescription)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServicePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceDescription)
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ServiceID">Edit</a>
                        <a class="btn btn-info" asp-action="Information" asp-route-id="@item.ServiceID">Information</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ServiceID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}